@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: "Ubuntu Condensed", sans-serif, Arial;
  color: rgb(240,240,240);
}

header {
  padding: 10px;
} 

body {
  background-color: rgb(97, 97, 97);
}

#button{
  background-color: rgb(255, 153, 0);
  width: 120px;
  font-size: 50x;
  color: black;
}

#title{
  color: black;
}

#nav{
  padding: .4rem;
  background-color: gold;
  display: flex;
  justify-content: space-between;
}

.arrivals{
  background-color: rgb(6,6,6);
  padding: 10px;
  box-shadow: rgba(50,50,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
  height: 150px;
}

.arrivals table{
  background-color: rgb(46,46,46);
  text-align: left;
  color:beige;
}

#time{
  width: 160px;
}

#destination{
  width: 700px;
}

#num{
  width: 205px;
}

#remarks{
  width: 260px;
}

#gate{
  width: 135px;
}
